<div id="landingContainer" style="display: none;">
    <div id="upperContainer" style="display: flex; width: 100%;">
        <div style="flex: 1; padding: 15px 50px 20px 30px; margin-top: 50px">
            <div id="card" style="display: flex; gap: 5px; flex-direction: column">
                <h4 style="margin: 0; text-align: center">Patchnote</h4>
                <p style="font-size: 15px; padding: 0 8px" id="patchNoteContent">
                    No new patchnote available ...
                </p>
            </div>
        </div>
        <div style="flex: 2; display: flex; align-items: center; justify-content: center;">
            <img id="logo" src="assets/images/logo.png" alt="Logo"/>
        </div>
        <div style="flex: 1; padding: 15px 50px 20px 30px; margin-top: 50px; display: flex; flex-direction: column; gap: 10px">
            <div id="card" style="display: flex; gap: 10px; align-items: center; justify-content: center; padding: 12px">
                <div id="avatarContainer"></div>
                <div style="display: flex; gap: 2px; flex-direction: column;">
                    <span>Connected as :</span>
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                </div>
            </div>

            <div id="card">
                <div id="server_status_wrapper">
                    <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                    <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                </div>
            </div>

            <div id="card" style="display: flex; flex-direction: column; gap: 10px; align-items: center; justify-content: center; padding: 12px">
                <h4 style="text-align: center; margin: 0">Shortcuts</h4>
                <div style="display: flex; gap: 10px; align-items: center; justify-content: center;">
                    <a href="https://www.google.com" target="_blank">
                        <img src="assets/images/discordbutton_normal.png" alt="Discord Button" style="cursor: pointer;">
                    </a>
                    <a href="https://discord.com/invite/AZJHfA8bT5" target="_blank">
                        <img src="assets/images/shopbutton_normal.png" alt="Shop Button" style="cursor: pointer;">
                    </a>
                    <a href="https://beyondtheseas.net/" target="_blank">
                        <img src="assets/images/webbutton_normal.png" alt="Web Button" style="cursor: pointer;">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div id="upperContainer">
        <div>
            <img src="assets/images/backprogress.png" alt="Progress Bar Background" >
            <img src="assets/images/foreprogress.png" alt="Progress Bar Full" style="clip-path: inset(0% 0% 78% 0%);">
        </div>
        <div class="bot_wrapper" style="padding: 15px">
            <div id="launch_content">
                <button id="launch_button"><%- lang('landing.launchButton') %></button>
            </div>
            <div id="launch_details">
                <div id="launch_details_left">
                    <span id="launch_progress_label">0%</span>
                    <div class="bot_divider"></div>
                </div>
                <div id="launch_details_right">
                    <progress id="launch_progress" value="22" max="100"></progress>
                    <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                </div>
            </div>
        </div>

        <!-- <div id="upperContainer" style="display: flex; width: 100%;">
        <div style="flex: 1; padding: 15px;">
            <progress id="launch_progress" value="22" max="100" style="width: 100%;"></progress>
        </div>
        <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
            <button id="launch_button" style="padding: 10px 20px; font-size: 16px;"><%- lang('landing.launchButton') %></button>
        </div> -->
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>